---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import image1 from "../assets/images/textures/baldai.jpg";
import image2 from "../assets/images/textures/cover2.jpg";
import image3 from "../assets/images/textures/pta.jpg";

---

<Layout title="Skaitytojams">
  <main class="poem-body md:px-10 p-4 text-justify">
    <div class="pb-3">Brangūs skaitytojai,</div>

    <div>
      rinktinės <i>Pasaulis telpa akiratin</i> idėja – ieškoti saitų tarp lietuviškai
      <nobr>ir lenkiškai</nobr>
      kuriančių poetų, rašančių nepriklausomoje Lietuvoje, po <nobr
        >1990-ųjų</nobr
      >, ypač paskutiniais dviem dešimtmečiais. Šiose dviejose šiuolaikinės
      Lietuvos poezijos srovėse, trykštančiose iš skirtingų tradicijų,
      atsispindi ne tik autorių tapatybė, asmeninės istorijos ir svajonės, bet
      ir tai, kaip jie interpretuoja kasdienius šiuolaikinio pasaulio iššūkius.
    </div>
    <div class="flex justify-center">
      <Image
        src={image1}
        alt="Baldai, Romuald Ławrynowicz"
        class="py-10 rounded w-3/4"
      />
    </div>
    <div>
      Rinkdamas eilėraščius antologijai įtraukiau tiek autorius, pelniusius
      literatūrinių apdovanojimų, tiek debiutantus. Rinktinės <i
        >Pasaulis telpa akiratin</i
      > pasakojimas, arba dramaturginė ašis, paremta trimis temomis. Pradedama nuo
      „Transgresijos“, arba ribų peržengimo, maišto prieš nusistovėjusias normas
      – ši tema iškyla Ramūno Liutkevičiaus, Tomo Tamošiūno ir kt. eilėraščiuose.
      Antroji dalis – „Santykiai“ – parodo autorių siekį suderinti ego ir empatiją;
      tokios harmonijos siekia, pavyzdžiui, Mindaugas Kirka ir Dominika Olicka. Paskutinėje
      dalyje „Tapatybė“ pristatomi kūriniai yra vidinės tikrovės aprašymai: tokioms
      autorėms kaip Laura Kromalcaitė ir Maria Żukowska tai pasaulis, kuriame jos
      gyvena, nors kiti tokią tikrovę vadintų utopija.
    </div>
    <div class="flex justify-center">
      <Image
        src={image2}
        alt="Pasaulis telpa akiratin cover"
        class="py-10 rounded w-3/4"
      />
    </div>
    <div>
      Visos trys knygos dalys pasižymi savita dinamika, kiekvienoje iš jų lenkų
      ir lietuvių autoriai pagrindinę temą plėtoja savaip. Teminius tiltus
      išlaiko ir grafinė knygos koncepcija. Pradėję skaityti nuo viršelio su
      užrašu <i>Pasaulis telpa akiratin</i> pasineriame į lietuvių kalbą – skaitome
      tiek originalius lietuviškus eilėraščius, tiek lenkiškai rašančių Lietuvos
      autorių eilėraščių vertimus į lietuvių kalbą. Apvertę knygą išvysime <i
        >Pojemny horyzont</i
      > – čia lenkiški tekstai originalo kalba (su Vilnijos kalbiniais ypatumais)
      persipina su lietuviškų eilėraščių vertimais į lenkų kalbą. Abi kalbos susitinka
      ties viduriu.
    </div>
    <div class="flex justify-center">
      <Image src={image3} alt="Knygos vidus" class="py-10 rounded w-3/4" />
    </div>
    <div>
      <i>Pasaulis telpa akiratin</i> gali tapti ir įvairovės manifestu, ir bendrumo
      liudijimu – rinktinė taip pat skirta lietuvių ir lenkų literatūros laukų kultūriniams
      ryšiams ir bendradarbiavimui stiprinti. Bet visų pirma tai kvietimas atrasti,
      kas svarbu jaunesniesiems Lietuvos autoriams (nepriklausomai nuo jų tautinės
      saviidentifikacijos ir kalbos, kuria rašo), ir nuolat versti jų kūrybą. Versdami
      šį tą prarandame, galime prarasti net patys save, tačiau būtent vertimai suteikia
      galimybę geriau suprasti vieniems kitus. Sukurti bendrą horizontą, kuriame
      tilptų visi mūsų pasauliai.
    </div>

    <div class="pb-5 text-right">Bartosz Połoński</div>
  </main>
</Layout>
