---

---

<div class="py-4"></div>
<hr />
<div class="py-4 text-center poem-body">
  © Lenkų literatų asociacija, 2009-2024 <a href={`${import.meta.env.BASE_URL}taisykles`}>Taisyklės</a> <br />
  Sukurta su <small>♥</small> Vilniuje, Bartoš Polonski
  <br />
  <a href="https://github.com/barelief/pta" target="_blank"
    >Projekto kodas Github'e <small>↗</small></a
  >
</div>
