---
// centered section title with decoration lines on the sides
const { title } = Astro.props;
---

<div class="relative flex items-center my-3 px-3">
  <div class="flex-grow border-t border-gray-400"></div>
  <span
    class="flex-shrink mx-4 text-gray-900 tracking-widest italic poem-section"
    >{title}</span
  >
  <div class="flex-grow border-t border-gray-400"></div>
</div>
