---
const { title } = Astro.props;
import "../assets/styles/base.css";
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ModalManagerCheckout from "../components/react/modal/ModalManagerCheckout";
---

<html lang="en-US">
  <head>
    <title>{title}</title>
    <meta name="verify-paysera" content="c7bd92de78936e2244ea02e22ef90c4f" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {/* add SEO component here */}
    <meta charset="UTF-8" />
  </head>
  <body>
    <main class="flex justify-center items-center">
      <div class="grid grid-cols-1 md:w-1/2">
        <!-- Navigation bar component -->
        <NavBar />
        <!-- main slot -->
        <slot />
        <Footer />
      </div>
    </main>
    <!-- Modal manager component -->
    <ModalManagerCheckout client:only="react" />
  </body>
</html>
